{% extends 'base.html.twig' %}

{% block title %} HomePage {% endblock %}

{% block stylesheet %}
<link href="https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.css" rel="stylesheet" /><style>

	#map {  width: 50%; height:100% }
  #fly {
position: relative;
margin: 0px auto;
width: 10%;
height: 0px;
padding: 0px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: #000;
background: #68707b;
}
</style>

{% endblock %}

{% block javascript %}
    <script src="https://unpkg.com/maplibre-gl@2.1.7/dist/maplibre-gl.js"></script>
     <script>
     /// var styleJson = 'https://api.maptiler.com/maps/voyager/style.json?key=tlsMQxY2O8t8fc48pkeW';
window.onload = function(){
   var map = new maplibregl.Map({
      container: 'map',
      style: 'https://api.maptiler.com/maps/streets/style.json?key=tlsMQxY2O8t8fc48pkeW',
      center: [-0.07, 51.5],
      zoom: 6,
      hash: true,
    });

    map.on('load', function () {
		map.loadImage(
		'https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-plane-512.png',
		function (error, image) {
		if (error) throw error;
		map.addImage('AirPort_icon', image);
    const geojson = {
    'type': 'FeatureCollection',
      'features': [
      {
      'type': 'Feature',
      'geometry': {
        'type': 'Point',
        'coordinates': [23.728541, 37.988579]
        },
      'properties': {
        'title': 'Mapbox',
        'description': 'Attica'
        }
    },
    {
      'type': 'Feature',
      'geometry': {
      'type': 'Point',
      /// coordinates : [longitude,latitude]
      'coordinates': [9.170685, 45.473702]
      },
      'properties': {
      'title': 'Mapbox',
      'description': 'Milan'
      }
    },
    // "latitude":-15.344724,"longitude":48.270561,
    {
      'type': 'Feature',
      'geometry': {
      'type': 'Point',
      'coordinates': [14.409943,35.917973]
      },
      'properties': {
      'title': 'Mapbox',
      'description': 'Malta'
      }
    },
    {
      'type': 'Feature',
      'geometry': {
      'type': 'Point',
      'coordinates': [2.342865,48.858705]
      },
      'properties': {
      'title': 'Mapbox',
      'description': 'Paris'
      }
    },
      {
      'type': 'Feature',
      'geometry': {
      'type': 'Point',
      'coordinates': [48.270561,-15.344724]
      },
      'properties': {
      'title': 'Mapbox',
      'description': 'Mahanjaga'
      }
    }


  ]
};

		map.addSource('AirPorts_points', {
			type: 'geojson',
			data: geojson
		});

		map.addLayer({
		'id': 'AirPorts',
		'type': 'symbol',
		'source': 'AirPorts_points',
		'layout': {
		'icon-image': 'AirPort_icon',
		'icon-size': 0.05
		}
		});
		}
		);
		});
    
///var marker = new maplibregl.Marker().setLngLat([0.11, 51.49]).addTo(map);    
} 
</script>
  <script> 
 
</script>
{% endblock %}


{% block body %}
{{ include('menu.html.twig')}}
<br>

{# LISTE DES VOYAGES CRÉÉS PAR L'UTILISATEUR #}
<div class="card" style="width: 100%;">
  <h2> My trips  </h2>
  <div class="row flex" width="100%">
      {% for trip in trips %}
     
        <div class="col-3">  
            <div class="card text-center" style="width: 15rem;" >
              <div class="card body">
                 <h5 class="card-title">
                 {## On affiche les voyages de l'utilisateur ####}
                 <h4>   {{ trip.title }} </h4>
                 </h5>
              <img class='img-thumbnail rounded mx-auto d-block' src="{{ vich_uploader_asset(trip, 'imageFile') }}" width="60%"/>
               
                  <p class="card-text"> 
                    Départ : {{ trip.departure }}
                  </p>

                    <p class="card-text"> 
                    Destination : {{ trip.destination }}
                  </p>

                     <p class="card-text"> 
                   Date de départ : {{ trip.beginDate|date('Y-m-d') }}
                  </p>

                      <p class="card-text"> 
                   Date de retour:  {{ trip.endDate|date('Y-m-d') }}
                  </p>
                  <p class="card-text"> 
                   Nombre de voyageurs :  {{ trip.travelCompanionNumber}}
                  </p>
                     <p class="card-text"> 
                   Moyen de transport :  {{ trip.transportation}}
                  </p>
                  <br>
                 <p class="card-text"> 

                  <a  href='{{ path('contact') }}' class="btn btn-primary btn-sm" role="button"> Contact User </a>
                  </p>
                 <br>
                      {##  
                      <p class="card-text"> 
                    {{ trip.description }}
                  </p> ##}
              </div>
            </div>
        </div>
      {% endfor %}



  </div>
</div>
<br>

<div id="map"></div>
  <button id="fly"></button>


   

{###  tlsMQxY2O8t8fc48pkeW #####}
{% endblock %}
