{% extends 'base.html.twig' %}

{% block title %} HomePage {% endblock %}
{% block stylesheet %}
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css'  />
<style>
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>

{% endblock %}

{% block javascript %}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

{% endblock %}


{% block body %}
{{ include('menu.html.twig')}}
<br>
{# LISTE DES VOYAGES CRÉÉS PAR L'UTILISATEUR #}
<div class="card" style="width: 80%;">
  <h2> My trips  </h2>
  <div class="row flex">
      {% for trip in trips %}
        <div class="col-5">  
            <div class="card">
              <div class="card body">
                 <h5 class="card-title">
                 {## On affiche les voyages de l'utilisateur ####}
                 <h4>   {{ trip.title }} </h4>
                 </h5>
              <img class='card-img-top' src="{{ vich_uploader_asset(trip, 'imageFile') }}" width="60%"/>
                 <p class="card-text"> 
                    {{ trip.description }}
                  </p>
                  <p class="card-text"> 
                    Départ : {{ trip.departure }}
                  </p>

                    <p class="card-text"> 
                    Destination : {{ trip.destination }}
                  </p>

                     <p class="card-text"> 
                   Date de départ : {{ trip.beginDate|date('Y-m-d') }}
                  </p>

                      <p class="card-text"> 
                   Date de retour:  {{ trip.endDate|date('Y-m-d') }}
                  </p>
                  <p class="card-text"> 
                   Nombre de voyageurs :  {{ trip.travelCompanionNumber}}
                  </p>
                     <p class="card-text"> 
                   Moyen de transport :  {{ trip.transportation}}
                  </p>
                  <p class="card-text">

                 

              </div>
            </div>
        </div>
      {% endfor %}

</p>


  </div>
</div>
<p class="card-text">

 <div id="map">
                  
</div>
</p>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZnVsbG1ldGFsYWxjaGVtaXN0OTIiLCJhIjoiY2wwcXFoMTR1MjdnbjNqcHdsY3V0ZmdrbCJ9.yXymeZBgXGPbhkQGtRtjLA';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9 // starting zoom
    });
</script>
                  </p> 
{% endblock %}
