{% extends 'base.html.twig' %}

{% block title %} HomePage {% endblock %}

{% block stylesheet %}
 <link href='https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css' rel='stylesheet' />
<style>

 .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

{% endblock %}

{% block javascript %}
 <script src='https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js'></script>

{% endblock %}


{% block body %}
{{ include('menu.html.twig')}}
<br>
{# LISTE DES VOYAGES CRÉÉS PAR L'UTILISATEUR #}
<div class="card" style="width: 80%;">
  <h2> My trips  </h2>
  <div class="row flex">
      {% for trip in trips %}
        <div class="col-5">  
            <div class="card">
              <div class="card body">
                 <h5 class="card-title">
                 {## On affiche les voyages de l'utilisateur ####}
                 <h4>   {{ trip.title }} </h4>
                 </h5>
              <img class='img-thumbnail rounded float-right' src="{{ vich_uploader_asset(trip, 'imageFile') }}" width="60%"/>
               
                  <p class="card-text"> 
                    Départ : {{ trip.departure }}
                  </p>

                    <p class="card-text"> 
                    Destination : {{ trip.destination }}
                  </p>

                     <p class="card-text"> 
                   Date de départ : {{ trip.beginDate|date('Y-m-d') }}
                  </p>

                      <p class="card-text"> 
                   Date de retour:  {{ trip.endDate|date('Y-m-d') }}
                  </p>
                  <p class="card-text"> 
                   Nombre de voyageurs :  {{ trip.travelCompanionNumber}}
                  </p>
                     <p class="card-text"> 
                   Moyen de transport :  {{ trip.transportation}}
                  </p>
                  <p class="card-text">

                 
                      {##  
                      <p class="card-text"> 
                    {{ trip.description }}
                  </p> ##}
              </div>
            </div>
        </div>
      {% endfor %}



  </div>
</div>

<br>

<div class="container">
    <div>
     <iframe  width="500" height="500" src="https://api.maptiler.com/maps/voyager/?key=tlsMQxY2O8t8fc48pkeW#0.0/0.00000/0.00000"></iframe>

    </div>
</div>
  

    
{% endblock %}
