{% extends 'security/base.html.twig' %}

{% block title %}
Register
{% endblock %}
{% block body %}
{# Menu haut #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> My very bad trip </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Trips </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
</nav>

    <form>
    <div class="form-group">
           <label for="lastname"> Lastname :  </label>
           <input type="text"  placeholder="Lastname" class="form-control" id="lastname" name="registration_form[lastname]">
    </div>
    <div class="form-group">
           <label for="firstname"> Firstname :  </label>
           <input type="text"  placeholder="Firstname" class="form-control" id="firstname" name="registration_form[firstname]">
    </div>
   <div class="form-group">
            <label for="email">Email :</label>
            <input type="email"  placeholder="Enter email"class="form-control" id="email" name="registration_form[email]">
    </div>
    <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password"  placeholder="Enter password" class="form-control" id="pwd" name="regsitration_form[plainPassword]">
    </div>

    <div class="form-group">
        <label for="pwd"> Date of Birth :</label>
        <input type="date" class="form-control" id="date_of_birth" name="regsitration_form[date_of_birth]">

    </div>

     <div class="form-group">
        <select class="form-select" aria-label="Default select example">
          <option selected> Sélectionner votre sexe  </option>
          <option value="Homme">  Homme </option>
          <option value="Femme">  Femme </option>
        </select>

    </div>
    <button type="submit"  class="btn btn-primary">Register</button>

    </form>
  {## {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
 
        {{ form_row(registrationForm.email) }}
   

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_end(registrationForm) }}
    <button type="submit" class="btn">Register</button>
#}
{% endblock %}
