{% extends 'base.html.twig' %}

{% block title %}
Register
{% endblock %}

{% block body %}
{{ include('menu.html.twig')}}
<br>
    <h1> Register as a new user </h1>
<div class="container">
    {{ form_start(registrationForm) }}
    
        {{ form_row(registrationForm.email,{'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword,{'attr':{'class':'form-control'}},{
            label: 'Password'
        })}}
        {## LASTNAME = NOM DE FAMILLE##}
        {{ form_row(registrationForm.lastname,{'attr':{'class':'form-control'}})}}
        {{ form_row(registrationForm.firstname,{'attr':{'class':'form-control'}})}}
        {{ form_row(registrationForm.sex,{'attr':{'class':'form-control'}})}}
        {{ form_row(registrationForm.DateOfBirth,{'attr':{'class':'form-group','id':'date_of_birth'}})}}

        <button type="submit" class="btn btn-dark">Register</button>
    {{ form_end(registrationForm) }}
</div>


{% endblock %}



