{% extends 'base.html.twig' %}
{% use 'bootstrap_4_layout.html.twig' %}

{% block title %} Create your trip {% endblock %}

{% block body %}
{{ include('menu.html.twig')}}
<br>
<h1> Create your trip </h1>
<div class="container">

      {{ form_start(tripCreationForm) }}
            {{ form_row(tripCreationForm.title,{'attr':{'class':'form-control'}}) }}
            {{ form_row(tripCreationForm.departure,{'attr':{'class':'form-control'}}) }}
            {{ form_row(tripCreationForm.destination,{'attr':{'class':'form-control'}}) }}
            {{ form_row(tripCreationForm.beginDate,{'attr':{'class':'form-group'}}) }}
            <br>
            {{ form_row(tripCreationForm.endDate,{'attr':{'class':'form-group'}}) }}
            <br>
            {{ form_row(tripCreationForm.transportation,{'attr':{'class':'form-control'}}) }}
            <br>
            {{ form_row(tripCreationForm.travelCompanionNumber,{'attr':{'class':'form-group'}}) }}
            <br>
            {{ form_row(tripCreationForm.description,{'attr':{'class':'form-control','id':'exampleFormControlTextarea1'}}) }}
            {## BOUTON PERMETTANT DE CRÉER LE VOYAGE ##}
            <br>
            <button type="submit" class="btn btn-dark form-group"> Create </button>

     {{ form_end(tripCreationForm) }}
</div>

{% endblock %}
